.match-view {
  display: flex;
  align-items: center;
  color: black;
}

.match-number {
  background-color: #ccc;
  /* padding: 40px 2px; */
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  min-width: 80px;
  /* min-height: 60px; */
  border-radius: 6px;
  color: black;
  min-height: 212px;
  margin-top: 9px;
}

.alliances {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: black;
  min-width: 50px;
}

.alliance {
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  min-width: 50px;
  min-height: 80px;
}

.team-box {
  border-radius: 6px;
  padding: 8px 12px;
  margin: 0 5px;
  min-width: 50px;
  font-size: 35px;
  color: black;
}

.alliance.filled {
  opacity: 1;
}

.alliance.outlined {
  background-color: transparent;
}

.blue-alliance.filled {
  background-color: #cce9ff;
  border: 2px solid #66bfff;
}

.blue-alliance.outlined {
  border: 2px solid #66bfff;
  background-color: gray;
}

.blue-team {
  border: 2px solid #66bfff;
}

.red-alliance.filled {
  background-color: #ffd6d6;
  border: 2px solid #ff4d4d;
}

.red-alliance.outlined {
  border: 2px solid #ff4d4d;
  background-color: gray;
}

.red-team {
  border: 2px solid #ff4d4d;
}

.highlighted {
  font-weight: bold;
  text-decoration: underline;
}

.spacer {
  height: 25px;
}
